<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>AngularJS, Django Todo App</title>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/">Home</a></li>
                </ul>
                <h3 class="text-muted">AngularJS, Django Todo App</h3>
            </div>
            <div>
                <div class="jumbotron">
                    <h1>Home Page</h1>
                </div>

                <div>
                    Something can go here
                </div>
            </div>

            <hr/>

            <div>
                <pre>
                    Shows a pre-formatted block
                </pre>
            </div>

            <div>
                <pre>
                    Another pre-formatted block
                </pre>
            </div>

            <hr/>

            <footer>
                <div class="container">
                    <p class="text-muted credit">
                        Copyright &copy; Coding Campus 2014 &middot;
                    </p>
                </div>
            </footer>
        </div>
        <!-- /.container -->

        <!-- javascript -->
        <script src="/static/lib/jquery/jquery.min.js"></script>
        <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
