<!DOCTYPE html>

<html lang="en" ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/css/app.css" rel="stylesheet" />

        <script src="/static/lib/angular/angular.min.js"></script>

        <title>AngularJS, Django Todo App</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">AngularJS, Django: Todo Application</a>
	        </div>
	      </div>
	    </div>

        <div class="container">
            <div class="starter-template">

                {% verbatim %}
                <div class="table-responsive" ng-controller="HomeController">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Complete</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="todo in todos">
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox"/>
                                    </label>
                                </td>
                                <td style="text-align: left;">{{ todo.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endverbatim %}

                <hr/>

                <footer>
                    <div class="container">
                        <p class="text-muted credit">
                            Copyright &copy; Coding Campus 2014 &middot;
                        </p>
                    </div>
                </footer>
            </div>
        </div>
        <!-- /.container -->

        <!-- javascript -->
        <script src="/static/lib/jquery/jquery.min.js"></script>
        <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
    </body>
</html>
